{%extends 'base.html'%}
{%load static%}

{%block title%}NOW! - 404 Error Page{%endblock%}
{%block content%}
<div class="jumbotron">
  <h1 class="display-4">Oh no!</h1>
  <p class="lead">You've tried to access a page that doesn't exist.</p>
  <p>ERROR 404</p>
  <hr class="my-4">
      <p><strong>Here are some helpful pages instead:</strong></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{%url "home-page"%}" role="button">HOME</a>
    <a class="btn btn-primary btn-lg" href="{%url "about-page"%}" role="button">ABOUT</a>
    <a class="btn btn-primary btn-lg" href="{%url "workouts-page"%}" role="button">WORKOUTS</a>
  </p>
</div>
{%endblock%}
